<h1><%- title %></h1>
<%- messages() %>

    <form class="input-box" id="loginForm" action="/account/login" method="post">
        <label>Email<input placeholder="example@some.com" type="email" name="account_email" required autocomplete="email"
                value="<%= locals.account_email %>"></label>
        <label>Password<input type="password" placeholder="😎😎😎😎" name="account_password" id="password" required
                autocomplete="current-password" pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[^\w\s]).{12,}$">
        <input id="submitlogin" type="submit" value="LOGIN">
    </form>
    <div>
        <span id="noaccount">No account? <a href="/account/registration">Sign up</a></span>
    </div>
